<p id="notice"><%= notice %></p>

<h1>Status Data</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @status_data.each do |status_datum| %>
      <tr>
        <td><%= status_datum.name %></td>
        <td><%= status_datum.description %></td>
        <td><%= link_to 'Show', status_datum %></td>
        <td><%= link_to 'Edit', edit_status_datum_path(status_datum) %></td>
        <td><%= link_to 'Destroy', status_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status Datum', new_status_datum_path %>
