<p id="notice"><%= notice %></p>

<p>
  <strong>Truck:</strong>
  <%= @truck_inventory.truck %>
</p>

<p>
  <strong>Inventory item:</strong>
  <%= @truck_inventory.inventory_item %>
</p>

<%= link_to 'Edit', edit_truck_inventory_path(@truck_inventory) %> |
<%= link_to 'Back', truck_inventories_path %>
