<p id="notice"><%= notice %></p>

<h1>Truck Current Inventory</h1>

<table>
  <thead>
    <tr>
      <th>Inventory item</th>
      <th>Item location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @truck_inventories.each do |truck_inventory| %>
      <tr>
        <td><%= truck_inventory.inventory_item %></td>
        <td><%= truck_inventory.item_location %></td>
        <td><%= link_to 'Show', truck_inventory %></td>
        <td><%= link_to 'Edit', edit_truck_inventory_path(truck_inventory) %></td>
        <td><%= link_to 'Destroy', truck_inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Truck Inventory', new_truck_inventory_path %>
