<%= form_with(model: settings_datum, local: true) do |form| %>
  <% if settings_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(settings_datum.errors.count, "error") %> prohibited this settings_datum from being saved:</h2>

      <ul>
      <% settings_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :settings_datum_name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :settings_datum_type %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :settings_datum_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
