<p id="notice"><%= notice %></p>

<h1>Settings Data</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @settings_data.each do |settings_datum| %>
      <tr>
        <td><%= settings_datum.name %></td>
        <td><%= settings_datum.type %></td>
        <td><%= settings_datum.description %></td>
        <td><%= link_to 'Show', settings_datum %></td>
        <td><%= link_to 'Edit', edit_settings_datum_path(settings_datum) %></td>
        <td><%= link_to 'Destroy', settings_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Settings Datum', new_settings_datum_path %>
