<h1>New England Data Tech - Portal</h1> 
<h1>------------------------------</h1>
<br>
<% if logged_in? %>
  <%= button_to "Statuses", statuses_url, :method => :get %>  
  <%= button_to "Task Types", task_types_url, :method => :get %>
  <%= button_to "Owner Types", owner_types_url, :method => :get %>
  <%= button_to "Lead Sources", lead_sources_url, :method => :get %>
  <%= button_to "Lead Statuses", lead_statuses_url, :method => :get %>
<% end %>