<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @settings_datum.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @settings_datum.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @settings_datum.description %>
</p>

<%= link_to 'Edit', edit_settings_datum_path(@settings_datum) %> |
<%= link_to 'Back', settings_data_path %>
