<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :invoice_id %>
    <%= form.text_field :invoice_id, id: :job_invoice_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :job_date %>
  </div>

  <div class="field">
    <%= form.label :job_status_id %>
    <%= form.text_field :job_status_id, id: :job_job_status_id %>
  </div>

  <div class="field">
    <%= form.label :scheduled_for %>
    <%= form.datetime_select :scheduled_for, id: :job_scheduled_for %>
  </div>

  <div class="field">
    <%= form.label :completed_on %>
    <%= form.datetime_select :completed_on, id: :job_completed_on %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id, id: :job_customer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
