<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Date</th>
      <th>Status</th>
      <th>Scheduled for</th>
      <th>Completed on</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.invoice %></td>
        <td><%= job.date %></td>
        <td><%= StatusDatum.find(job.status_id).name %></td>       
        <td><%= job.scheduled_for %></td>
        <td><%= job.completed_on %></td>
        <td><%= Customer.find(job.customer_id).fullname %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
