<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice:</strong>
  <%= @job.invoice %>
</p>

<p>
  <strong>Date:</strong>
  <%= @job.date %>
</p>

<p>
  <strong>Job status:</strong>
  <%= @job.job_status %>
</p>

<p>
  <strong>Scheduled for:</strong>
  <%= @job.scheduled_for %>
</p>

<p>
  <strong>Completed on:</strong>
  <%= @job.completed_on %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @job.customer %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
