<p id="notice"><%= notice %></p>

<p>
  <strong>Invoice:</strong>
  <%= @job.invoice %>
</p>

<p>
  <strong>Date:</strong>
  <%= convert_time(@job.date) %>
</p>

<p>
  <strong>Status:</strong>
  <%= StatusDatum.find(@job.status_id).name %>
</p>

<p>
  <strong>Scheduled for:</strong>
  <%= convert_time(@job.scheduled_for) %>
</p>

<p>
  <strong>Completed on:</strong>
  <%= convert_time(@job.completed_on) %>
</p>

<p>
  <strong>Customer:</strong>  
  <%= Customer.find(@job.customer_id).fullname %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
