<%= form_with(model: lead, local: true) do |form| %>
  <% if lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :lead_date %>
  </div>

  <div class="field">
    <%= form.label :source_id %>
    <%= form.text_field :source_id, id: :lead_source_id %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost, id: :lead_cost %>
  </div>

  <div class="field">
    <%= form.label :lead_status_id %>
    <%= form.text_field :lead_status_id, id: :lead_lead_status_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
