<h1>New England Data Tech - Portal</h1> 
<h1>------------------------------</h1>
<br>
<% if !logged_in? %>
  <h1>Log In</h1>
  <%= form_tag login_path do %>
    <div class="field">
      <%= label_tag :username %><br />
      <%= text_field_tag :username, params[:username] %>
    </div>
    <div class="field">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag "Log In" %></div>
  <% end %>
<% else %>
  <%= button_to "Jobs", jobs_url, :method => :get %>  
  <%= button_to "Employees", employees_url, :method => :get %>
  <%= button_to "Customers", customers_url, :method => :get %>
  <%= button_to "Companies", companies_url, :method => :get %>
  <%= button_to "Payments", "/payments/select", :method => :get %>
  <%= button_to "Employee Tasks", employee_tasks_url, :method => :get %>
  <%= button_to "Company Tasks", company_tasks_url, :method => :get %>
  <%= button_to "Leads", leads_url, :method => :get %>
<% end %>