<p id="notice"><%= notice %></p>

<h1>Trans Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trans_types.each do |trans_type| %>
      <tr>
        <td><%= trans_type.name %></td>
        <td><%= trans_type.description %></td>
        <td><%= link_to 'Show', trans_type %></td>
        <td><%= link_to 'Edit', edit_trans_type_path(trans_type) %></td>
        <td><%= link_to 'Destroy', trans_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trans Type', new_trans_type_path %>
