<%= form_with(model: item_location, local: true) do |form| %>
  <% if item_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item_location.errors.count, "error") %> prohibited this item_location from being saved:</h2>

      <ul>
      <% item_location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :truck_id %>  
    <%= form.collection_select(:truck_id, Truck.all, :id, :name) %> 
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :item_location_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :item_location_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
