<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pay_date %>
    <%= form.date_select :pay_date, id: :payment_pay_date %>
  </div>

  <div class="field">
    <%= form.label :paid_to_id %>
    <%= form.text_field :paid_to_id, id: :payment_paid_to_id %>
  </div>

  <div class="field">
    <%= form.label :payment_type %>
    <%= form.text_field :payment_type, id: :payment_payment_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
