<p id="notice"><%= notice %></p>

<p>
  <strong>Pay date:</strong>
  <%= @payment.pay_date %>
</p>

<p>
  <strong>Payment to from:</strong>
  <%= @payment.payment_to_from %>
</p>

<p>
  <strong>Type:</strong>
  <%= @payment.type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @payment.reason %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
