<p id="notice"><%= notice %></p>

<p>
  <strong>Pay date:</strong>
  <%= @payment.pay_date %>
</p>

<p>
  <strong>Paid to:</strong>
  <%= @payment.paid_to %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @payment.payment_type %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
