<p id="notice"><%= notice %></p>

<h1><%= params[:title] %></h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Location</th>
      <th>Item status</th>
      <th>Item notes</th>
      <th>Cost</th>
      <th>Retail</th>
      <th>Markup</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventory_items.each do |inventory_item| %>
      <tr>
        <td><%= inventory_item.name %></td>
        <td><%= inventory_item.item_location.name %>
        <td><%= inventory_item.item_status.name %></td>
        <td><%= inventory_item.item_notes %></td>
        <td><%= inventory_item.cost %></td>
        <td><%= inventory_item.retail %></td>
        <td><%= inventory_item.markup %></td>
        <td><%= inventory_item.price %></td>
        <% case inventory_item.item_status.name %>
          <% when "Received" %>
            <td><%= link_to "Move to truck", {:controller => "inventory", :action => "select_truck", :inventory_item_id => inventory_item.id }%></td>
          <% when "On Order" %>
            <td><%= link_to 'Receive', inventory_item, method: :post, action: :receive%></td>
          <% end %>
        <td><%= link_to 'Show', inventory_item %></td>
        <td><%= link_to 'Edit', edit_inventory_item_path(inventory_item) %></td>
        <td><%= link_to 'Destroy', inventory_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory Item', new_inventory_item_path %>
