<p id="notice"><%= notice %></p>

<h1>Company Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_tasks.each do |company_task| %>
      <tr>
        <td><%= company_task.company.name %></td>
        <td><%= company_task.description %></td>
        <td><%= company_task.status.name %></td>
        <td><%= link_to 'Show', company_task %></td>
        <td><%= link_to 'Edit', edit_company_task_path(company_task) %></td>
        <td><%= link_to 'Destroy', company_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company Task', new_company_task_path %>
