<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job_status.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job_status.description %>
</p>

<%= link_to 'Edit', edit_job_status_path(@job_status) %> |
<%= link_to 'Back', job_statuses_path %>
