<!DOCTYPE html>
<html>
  <head>
    <title>NedtPortalRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>

    <footer>
      <br><br>
      <% unless controller_name == 'home' && action_name == 'index' %>  
        <%= button_to "Home", root_path, form: {style: 'display:inline-block;'}, :method => :get %>
        <%= link_to "Back", :back %>
      <% end %> 
      <% if logged_in? %>         
        <%= button_to 'Logout', logout_path, form: {style: 'display:inline-block;'}, method: :delete %>
      <% end %>
    </footer>
    <br>
  </body>
</html>
